version: "3"

services:

  backend:
    build: ./${APP_NAME_BACK}
    volumes:
      - ./${APP_NAME_BACK}:/app
    ports:
      - "1337:1337"
    depends_on:
      - db
    environment:
      WAIT_HOSTS: db:3306
      DATABASE_HOST: db
      DATABASE_PORT: 3306
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}

  db:
    image: mysql:8
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
    command: --default-authentication-plugin=mysql_native_password

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - '8081:80'
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306

  frontend:
    build: ./${APP_NAME_FRONT}
    volumes:
      - ./${APP_NAME_FRONT}:/app
    ports:
      - "3000:3000"
    environment:
      API_BASEURL: backend:1337